{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- JQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    <script type="text/javascript" src={% static 'jquery.min.js' %}></script>
    <!-- Custom CSS Add Here -->
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}/>
    <!-- Semantic UI -->
    <link rel="stylesheet" type='text/css'
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    
    <!-- <link rel="stylesheet" type="text/css" href={% static 'semanticui/semantic.min.css' %}/> -->
    <!-- <script type="text/javascript" src={% static 'semanticui/semantic.min.js' %}></script> -->

    <title>bffbook - {% block title %}{% endblock title %}</title>
</head>

<body>
    {% include 'main/navbar.html' %}
    <div class="ui container">
        {% block content %}
        {% endblock content %}
    </div>

    {% block scripts %}
    {% endblock scripts %}

    <!--Custom JS Add Here -->
    <script type="text/javascript" src={% static 'main.js' %}></script>
</body>

</html>